@model Katzavia.Models.Events

@{
    ViewData["Title"] = "Create";
}
<br>
<h1>Want to Schedule a special event with our Meat-men?</h1>

<h1>Fill in your details and we will contact with you!</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EventType" class="control-label"></label>
                <input asp-for="EventType" class="form-control" />
                <span asp-validation-for="EventType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" id="demo" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cheff" class="control-label"></label>
                <span asp-validation-for="cheff" class="text-danger"></span>
                <select asp-for="cheff" class="form-control" id="rate">
                    <option value="1">Dor</option>
                    <option value="2">Liel</option>
                    <option value="3">Eden</option>
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Desc" class="control-label"></label>
                <input asp-for="Desc" class="form-control" />
                <span asp-validation-for="Desc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />


    <script>
        var todayDate = new Date();
        var month = todayDate.getMonth() + 1;
        var year = todayDate.getUTCFullYear() - 0;
        var tdate = todayDate.getDate();
        if (month < 10) {
            month = "0" + month
        }
        if (tdate < 10) {
            tdate = "0" + tdate;
        }
        var maxDate = year + "-" + month + "-" + tdate;
        //document.getElementById("demo").setAttribute("min", maxDate);
        //console.log(maxDate);
        @{
            var _events_data = ViewData["events"];
            var a = 0;
        }
        var arra1y = JSON.parse('@Html.Raw(Json.Serialize(_events_data))')
        var block_dates = arra1y.map(o => o.date?.split('T')[0])
        console.log(arra1y)
        var dateToday = new Date();
        $('#demo').datepicker({
            dateFormat: 'yy-mm-dd',
            minDate: dateToday,
            beforeShowDay: function (date) {
                var string = jQuery.datepicker.formatDate('yy-mm-dd', date);
                return [block_dates.indexOf(string) == -1]
            }
        }).on('click', function (event) {
            event.preventDefault()
        });
    </script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
