<!DOCTYPE html>
<html dir="en">
<head>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/png" href="http://www.gaston-sh.co.il/warehouse/dynamic/41821.ico">
    <title>@ViewData["Title"] - Katzavia</title>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700" rel="stylesheet">

    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link href="~/css/feedback.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">

    <!-- Style -->
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
    <div class="site-mobile-menu site-navbar-target">
        <div class="site-mobile-menu-header">
            <div class="site-mobile-menu-close mt-3">
                <span class="icon-close2 js-menu-toggle"></span>
            </div>
        </div>
        <div class="site-mobile-menu-body"></div>
    </div>

    <header class="site-navbar site-navbar-target" role="banner">
        <div class="container">
            <div class="row align-items-center position-relative">
                <div class="col-3">
                    <div class="site-logo">
                        <a asp-controller="Home" asp-action="Index" >Katzavia - Official website</a>
                    </div>
                </div>
                <div class="col-9  text-right">
                    <span class="d-inline-block d-lg-none"><a href="#" class="text-primary site-menu-toggle js-menu-toggle py-5"><span class="icon-menu h3 text-white"></span></a></span>
                    <nav class="site-navigation text-right ml-auto d-none d-lg-block" role="navigation">
                        <ul class="site-menu main-menu js-clone-nav ml-auto ">
                            <li><a asp-controller="Home" asp-action="Index" class="nav-link">Home</a></li>
                            <li><a asp-controller="Products" asp-action="Menu" class="nav-link">Our Menu</a></li>
                            <li><a asp-controller="Home" asp-action="About" class="nav-link">About</a></li>
                            <li><a asp-controller="Home" asp-action="Contact" class="nav-link">Contact Us</a></li>
                            @if ((Context.User.IsInRole("Admin") || (Context.User.IsInRole("Client"))))


                            {
                                <li><a asp-controller="Feedbacks" asp-action="Create" class="nav-link">Write Us</a></li>
                            }
                            @if ((Context.User.IsInRole("Admin")))


                            {
                                <li><a asp-controller="chefs" asp-action="Index" class="nav-link">Chefs</a></li>
                            }
                            @if (Context.User.IsInRole("Admin"))
                            {
                                <li><a asp-controller="Products" asp-action="Index" class="nav-link">Products<span class="underline"></span></a></li>
                                <li><a asp-controller="Categories" asp-action="Index" class="nav-link">Categories<span class="underline"></span></a></li>
                                <li><a asp-controller="Users" asp-action="Index" class="nav-link">Users Manager<span class="underline"></span></a></li>
                            }
                            @if (Context.User != null && Context.User.Claims != null && Context.User.Claims.Count() > 0)
                            {
                                <li><a asp-controller="Users" asp-action="Logout" class="nav-link">Logout<span class="underline"></span></a></li>
                            }
                            else
                            {
                                <li><a asp-controller="Users" asp-action="Login" class="nav-link">Login<span class="underline"></span></a></li>
                            }
                        </ul>
                    </nav>
                </div>
            </div>
        </div>

    </header>
    <div class="hero"></div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.sticky.js"></script>
    <script src="js/main.js"></script>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; Dr.Shay Horovitz  2021 - Katzavia Colman
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
