
@{ ViewData["Title"] = "About"; }

<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v12.0&appId=668443883366629&autoLogAppEvents=1" nonce="RIwWqXfk"></script>

<div class="text-center">

    <u1>
        <div class="aboutwall">
            <br />
            <div class="textabout">
                <img class="wanologo" src="https://www.paskovich.co.il/Warehouse/catalog/categories/pic_49_b.png">
                <br />

                Welcome to our butcher shop. <br />
                the butcher was founded by Eden,Liel and Dor - in 2021, <br />
                We hope you will Enjoy from our shopping experience . <br />
                We would be happy to see you among our guests.
                <br /><br />
                <b>  For Reservation <a asp-area="" asp-controller="Home" asp-action="Reservation">Click Here</a>.</b>
                <br /><br />
                Opening Hours:<br />
                Sunday-Thursday: 12 PM – 12 AM <br />
                Friday and Saturday: 1 PM – 12 AM<br />
                <br />
                Allenby St. at Rothschild Blvd, Tel-Aviv.
                <br /><br />
                <div class="fb-page" data-href="https://www.facebook.com/katsavia/" data-tabs="timeline" data-width="900" data-height="400" data-small-header="true" data-adapt-container-width="true" data-hide-cover="true" data-show-facepile="false"><blockquote cite="https://www.facebook.com/katsavia/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/katsavia/">‎י.מ גבריאל - קצביה‎</a></blockquote></div>
                <br /><br />
                <!--Google Maps-->
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d556.0831299457524!2d34.77280555955785!3d32.0636051092911!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x151d4c9d4b6d18c7%3A0x566ae7020aa6ee4e!2sAllenby%20St%20%26%20Rothschild%20Blvd%2C%20Tel%20Aviv-Yafo!5e0!3m2!1sen!2sil!4v1622548699432!5m2!1sen!2sil" width="400" height="250" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <br />
        </div>
    </u1>
</div>

