@{
    ViewData["Title"] = "Contact us";
}

<div class="text-center">
    <h2 class="ourTitle">Contact</h2>
    <h1 class="menuTitle">RESTAURANT</h1>
    <u1>
        <div class="aboutwall">
            <br />
            <div class="textabout">
                <img src="https://www.paskovich.co.il/Warehouse/catalog/categories/pic_49_b.png">
                <br />
                <b> Phone: <a href="tel:+972-046522265">03-966-6666</a></b>
                <br />
                <b> Our Email: <a href="mailto:Katzavia@official.com">Click here</a></b>
                <br />
                <br />
                Opening Hours:<br />
                Sunday-Thursday: 10 PM to 7 AM <br />
                Friday and Saturday: 11 PM to 3 AM<br />
                <br />
                King George St 78
                <br /><br />
                <b>  For Reservation <a asp-area="" asp-controller="Events" asp-action="Create">Click Here</a>.</b>
                <br />
            </div>
            <br />
        </div>
    </u1>
</div>

