@{ ViewData["Title"] = "Home Page"; }

<div class="text-center">
    <h1 class="display-4" id="homeTitle">Katzavia</h1>
</div>
<head>
    <link rel="feedback" type="text/css" href="~/css/feedback.css" media=”screen” />
    <link rel="botton" type="text/css" href="~/css/feedback.css" media=”screen” />
</head>

@*Choosing the department that the user needs*@
<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <p><img src="~/Images/Beef-Meat.png" style=" height:250px;width:450px;" /></p>
                <h5 class="card-title">Our Product</h5>
                <a asp-controller="Products" asp-action="Index" class="btn btn-primary">Click Here</a>
            </div>
        </div>
    </div>

    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                <p><img src="~/Images/events.jpg" style=" height:250px;width:450px;" /></p>
                <h5 class="card-title">for order our Meat-man for special event</h5>
                <a asp-controller="Events" asp-action="Create" class="btn btn-primary">Click Here</a>
            </div>
        </div>
    </div>
</div>

<p><br /></p>

<div class="text-center">
    <h3 class="display-4">Hello</h3>
    <h5 class="text-center">
        Welcome to our Butcher Shop & Grill.
    </h5>
    <h5 class="text-center">
        In this legendary South African steakhouse,
    </h5>
    <h5 class="text-center">
        you’ll always find juicy, succulent steaks served with smile
    </h5>
    <h5 class="text-center">
        All our products are kosher and approved by the National Rabbinate
    </h5>
</div>
<p><br /></p>
<p><br /></p>




