@model Katzavia.Models.User

@{
    ViewData["Title"] = "AccessDenied";
}
<br />
<h1 style="color: black">Nothin is here</h1>

<div>
    <a asp-action="Index" asp-controller="Home">Go back</a>
</div>
