@model Katzavia.Models.User

@{
    ViewData["Title"] = "Login";
}
<head><link rel="stylesheet" href="~/css/loginpage.css"></head>
<hr />
<div id="login-box">
    <div class="left">
        <h1>Login</h1>
        <form asp-action="Login">


                <input asp-for="Username" class="form-control" placeholder="Username" />
                <br />
                <input asp-for="Password" class="form-control" placeholder="Password" />
                <br />
                <input type="submit" value="Login" class="btn btn-primary" />

                <div>
                    <br />
                    Not part of the family ?<br />
                    <a asp-action="Register">Click here</a> to join.
                </div>

        </form>

        @if (ViewBag.Error != null)
        {
            <div class="text-danger">@ViewBag.Error </div>
        }
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
