@model Katzavia.Models.User

@{
    ViewData["Title"] = "Register";
}
<head><link rel="stylesheet" href="~/css/loginpage.css"></head>

<hr />

<div id="login-box">
    <div class="left">
        <h1>Sign up</h1>
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <input asp-for="Username" class="form-control" placeholder="Username" type="text" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Email" class="form-control" placeholder="E-mail" type="text" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input asp-for="Password" class="form-control" placeholder="Password" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>

            <input type="submit" value="Register" class="btn btn-primary" />
            <div>
                <br />
                Already a member ?<br /><a asp-action="Login">Click here</a> to login.
            </div>
        </form>
        @if (ViewBag.Error != null)
        {
            <div class="text-danger">@ViewBag.Error </div>
        }
    </div>
    
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
