@model IEnumerable<Katzavia.Models.Product>

@{ ViewData["Title"] = "Menu"; }
<head>
    <link rel="stylesheet" href="~/css/menu.css">
    <link href="https://fonts.googleapis.com/css?family=Cabin|Herr+Von+Muellerhoff|Source+Sans+Pro" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">

</head>
<br />

<div class="centersearch">
    <h2 class="ourTitle">Our</h2>
    <h1 class="menuTitle">MENU</h1>

    <div class="text-center">

        <form asp-action="Search">
            <input name="queryN" placeholder="Search" class="searchbar" />
            <input type="submit" value="Search" class="searchButton" />
        </form>
        <form asp-action="advSearch">
            <input type="text" id="queryP" name="queryP" required min="0" placeholder="Advanced Search" />

            <select type="text" id="queryC" name="queryC" required>
                <option value=""> Choose Category </option>
                <option value="עופות טריים"> עופות טריים </option>
                <option value="בשר בקר טרי"> בשר בקר טרי </option>
                <option value="קפואים"> קפואים </option>
                <option value="מזווה"> מזווה </option>

            </select>

            <select type="text" id="queryM" name="queryM" required>
                <option value=""> Maximum Price </option>
                <option value="40"> 40 </option>
                <option value="60"> 60 </option>
                <option value="80"> 80 </option>
                <option value="100"> 100 </option>
                <option value="250"> 250 </option>
            </select>
            <input type="submit" value="Search" class="searchButton" />
        </form>
    </div>
</div>
<div class="menu-btns">
    <form asp-action="Buttom"> <button value="" class="menu-btn active-btn" id="allCat">All</button></form>
    <form asp-action="Buttom"> <button value="עופות טריים" type="submit" class="menu-btn" name="ctN">עופות טריים</button></form>
    <form asp-action="Buttom"> <button value="בשר בקר טרי" type="submit" class="menu-btn" name="ctN">בשר בקר טרי</button></form>
    <form asp-action="Buttom"> <button value="קפואים" type="submit" class="menu-btn" name="ctN">קפואים</button></form>
    <form asp-action="Buttom"> <button value="מזווה" type="submit" class="menu-btn" name="ctN">מזווה</button></form>
</div>
<table class="table">

    <tbody class="food-items">
        @foreach (var item in Model)
        {
<tr>
    <td>
        <div class="container">
            <div class="row">
                <div id="productIdo" class="card text-center">
                    <img src="@item.Image" width="100" />
                </div>
            </div>
        </div>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Price)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Desc)
    </td>
</tr>    }
    </tbody>
</table>
<br />
